@import 'https://js.arcgis.com/4.20/@arcgis/core/assets/esri/themes/light/main.css';
@import 'https://use.fontawesome.com/releases/v5.12.0/css/all.css';
@import '../node_modules//normalize.css/normalize.css';

body {
  background-color: #282c34;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
}
.app {
  background-color: #282c34;
  height: calc(100vh - 50px);
  overflow: hidden !important;
}

h3 {
  margin-top: 0;
}

.main-header {
  color: white;
  max-height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  h3 {
    margin: 0;
    font-size: 1rem;
    @media screen and (min-width: 900px) {
      // flex: 1;
      font-size: 1.2rem;
    }
  }

  .header-heat-alert {
    @media screen and (max-width: 900px) {
      display: none !important;
    }
  }
  .last-updated {
    font-size: 0.7rem;
  }

  // .mobile-heat-btn {
  //   @media screen and (min-width: 900px) {
  //     display: none !important;
  //   }
  // }
}

.home-btn {
  // @media screen and (min-width: 900px) {
  //   display: none;
  // }
}

.btn-outline-primary:hover {
  color: #007bff;
  border-color: #007bff;
  background-color: transparent;
}

.badge {
  padding: 3px 5px;
  font-size: 11.5px;
}

.esri-widget__heading.esri-popup__header-title {
  color: white;
}

.map-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  .map-container {
    flex: 1;
    overflow: hidden;
  }
  .list-view-btn {
    width: 130px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}

.listing-page {
  .listing-page-jumbotron {
    text-align: center;
    overflow-y: auto;
    padding-top: 10px;
    margin-bottom: 0px;
  }
}

.map-button {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 130px;
  bottom: 5px;
}

.welcome-page {
  text-align: center;
  .box-container {
    margin-left: 4%;
    margin-right: 4%;
    .jumbotron {
      margin-top: 15px;
      @media screen and (max-width: 900px) {
        padding: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
    @media screen and (min-width: 900px) {
      display: flex;
      width: 70%;
      margin: auto;
      justify-content: center;
      margin-top: 2em;
      .jumbotron {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  .welcome-page-header {
    display: flex;
    align-items: center;
    padding: 15px 15px 10px 15px;
    margin: auto;

    h3 {
      @media screen and (max-width: 900px) {
        font-size: 1.2rem;
      }
      color: white;
      flex: 1;
      text-align: center;
    }
  }

  .or {
    width: 60px;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 22px;
    border-radius: 50%;
    background-color: #e9ecef;
  }

  .hrn-banner {
    max-width: 100vw;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  .hrn-logo {
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}

.legend-container {
  background-color: white;
  padding: 15px;
  width: 230px;
  .custom-switch {
    // margin: 7px;
  }
}

.esri-expand__content {
  box-shadow: none;
}

.welcome-page-alert {
  @media screen and (max-width: 900px) {
    width: 90% !important;
  }
}

.modal-title {
  @media screen and (max-width: 900px) {
    font-size: 1rem;
  }
}

.list-group {
  // background-color: purple;
  max-height: calc(100vh - 142px);
  overflow-y: auto;
}
