@import 'https://js.arcgis.com/4.20/@arcgis/core/assets/esri/themes/light/main.css';
@import 'https://use.fontawesome.com/releases/v5.12.0/css/all.css';

body {
  background-color: #282c34;
}
.app {
  background-color: #282c34;
  width: 100vw;
}

h3 {
  margin-top: 0;
}

.btn-outline-primary:hover {
  color: #007bff;
  border-color: #007bff;
  background-color: transparent;
}

.badge {
  padding: 3px 5px;
  font-size: 11.5px;
}

.esri-widget__heading.esri-popup__header-title {
  color: white;
}
